:root {
  --color-primary-moderateBlue: rgb(84, 87, 182);
  --color-primary-softRed: rgb(237, 100, 104);
  --color-primary-lightGrayishBlue: rgb(195, 196, 239);
  --color-primary-paleRed: rgb(255, 184, 187);
  --color-neutral-darkBlue: rgb(50, 65, 82);
  --color-neutral-grayishBlue: rgb(103, 114, 126);
  --color-neutral-lightGray: rgb(234, 236, 241);
  --color-neutral-veryLightGray: rgb(245, 246, 250);
  --color-neutral-white: rgb(255, 255, 255);
}

* {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--color-neutral-lightGray);
  padding: 4rem;
  margin: 0;
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.modal {
  position: fixed;
  width: 30%;
  max-width: 432px;
  top: 40%;
  left: 35%;
  background-color: var(--color-neutral-white);
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  display: none;
}

.modal button {
  font: inherit;
  padding: 1rem 2rem;
  margin: 0 1rem;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

#cancel_button {
  color: var(--color-neutral-white);
  background-color: var(--color-neutral-grayishBlue);
}

#delete_button {
  color: var(--color-neutral-white);
  background-color: var(--color-primary-softRed);
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

ul.comments {
  list-style: none;
  width: 70%;
  max-width: 800px;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0;
}

.comment {
  background-color: var(--color-neutral-white);
  padding: 2rem;
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  box-sizing: border-box;
}

.comment-item-container {
  grid-row: 1/span 3;
  text-align: center;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50px;
}

.comment-item-vote {
  background-color: var(--color-neutral-lightGray);
  border-radius: 12px;
  padding: 12px;
}

.comment-item-details {
  grid-column: 2/span 2;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.badge {
  box-sizing: border-box;
  padding: 2px 6px;
  background-color: var(--color-primary-moderateBlue);
  color: var(--color-neutral-white);
  border-radius: 2px;
  font-size: 12px;
}

.hidden {
  display: none;
}

.comment-item-details>img,
#comment-input-area>img {
  height: 48px;
  width: 48px;
  object-fit: cover;
}

.comment-item-actions {
  justify-content: end;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.comment-item-content {
  grid-area: 2/2/ span 2/ span 3;
}

li.reply {
  width: 80%;
  margin-left: 20%;
}

.replyingTo {
  color: var(--color-primary-moderateBlue);
  font-weight: 700;
}

#comment-input-area {
  width: 70%;
  max-width: 800px;
  box-sizing: border-box;
  margin: 1.5rem auto;
  background-color: var(--color-neutral-white);
  border-radius: 8px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#comment-input-area>form {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

textarea {
  border-radius: 8px;
  padding: 4px;
  outline: none;
  resize: none;
  height: 200%;
  width: 80%;
}

#comment-input-area>form>button {
  background-color: var(--color-primary-moderateBlue);
  color: var(--color-neutral-white);
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

@media screen and (max-width: 767px) {
  body {
    padding: 1rem;
  }

  ul.comments {
    width: 90%;
  }

  .comment {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto 40px;
  }

  .comment-item-container {
    grid-area: 4/1/span 1/span 1;
    margin: 0;
    flex-direction: row;
  }

  .comment-item-vote {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .comment-item-details {
    grid-area: 1/ 1/ span 1/ span 2;
  }

  .comment-item-content {
    grid-area: 2/1/span 2/ span 2;
  }

  .comment-item-details>img,
  #comment-input-area>img {
    height: 32px;
    width: 32px;
    object-fit: cover;
  }

  li.reply {
    width: 90%;
    margin-left: 10%;
  }
}